# Impute Missing Station Name with DataWig

## Import Packages

In [19]:
# Import necessary packages
from google.cloud import bigquery
import os
import pandas as pd
import datawig

## Import Data from Bigquery

In [2]:
# Set environment variables
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'acoustic-portal-322707-496a5c838490.json'
# initiates BQ service
bigquery_client = bigquery.Client()
# Write Query on BQ
QUERY = """
SELECT
    ride_id,
    start_station_name,
    start_lat,
    start_lng,
    end_station_name,
    end_lat,
    end_lng
FROM
  `bike_dataset.bike_df_missing_station`
;
  """
# Run the query and write result to a pandas data frame
Query_Results = bigquery_client.query(QUERY)
bike_df = Query_Results.to_dataframe()

## Checking Null values

In [3]:
# check for null values
print(bike_df.isna().sum())

ride_id                    0
start_station_name    801888
start_lat                  0
start_lng                  0
end_station_name      844332
end_lat                    0
end_lng                    0
dtype: int64

## Impute Missing Values of Start Station Name using DataWig based on latitude and longitude

In [4]:
# Split dataframe into train and test subsets
df_train, df_test = datawig.utils.random_split(bike_df)

#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['start_lat', 'start_lng'], # column(s) containing information about the column we want to impute
    output_column= 'start_station_name', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
)

#Fit an imputer model on the train data
imputer.fit(train_df=df_train, num_epochs=10)

#Impute missing values and return original dataframe with predictions
imputed_start_station = imputer.predict(df_test)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
2023-01-31 00:05:54,826 [INFO]
========== start: fit model
2023-01-31 00:05:54,827 [WARNING]  Already bound, ignoring bind()
2023-01-31 00:07:16,961 [INFO]  Epoch[0] Batch [0-49955]	Speed: 9732.03 samples/sec	cross-entropy=0.162354	start_station_name-accuracy=0.969474
2023-01-31 00:08:43,166 [INFO]  Epoch[0] Train-cross-entropy=0.122119
2023-01-31 00:08:43,168 [INFO]  Epoch[0] Train-start_station_name-accuracy=0.981645
2023-01-31 00:08:43,168 [INFO]  Epoch[0] Time cost=168.339
2023-01-31 00:08:43,173 [INFO]  Saved checkpoint to "imputer_model/model-0000.params"
2023-01-31 00:08:50,699 [INFO]  Epoch[0] Validation-cross-entropy=0.056008
2023-01-31 00:08:50,700 [INFO]  Epoch[0] Validation-start_station_name-accuracy=0.999058
2023-01-31 00:10:21,006 [INFO]  Epoch[1] Batch [0-49955]	Speed: 8851.33 samples/sec	cross-entropy=0.062988	start_station_name-accuracy=0.995203
2023-01-31 00:11:57,937 [INFO]  Epoch[1] Train-cross-entropy=0.060259
2023-01-31 00:11:57,938 [INFO]  Epoch[1] Train-start_station_name-accuracy=0.995590
2023-01-31 00:11:57,939 [INFO]  Epoch[1] Time cost=187.238
2023-01-31 00:11:57,944 [INFO]  Saved checkpoint to "imputer_model/model-0001.params"
2023-01-31 00:12:05,423 [INFO]  Epoch[1] Validation-cross-entropy=0.043705
2023-01-31 00:12:05,424 [INFO]  Epoch[1] Validation-start_station_name-accuracy=0.999165
2023-01-31 00:13:45,868 [INFO]  Epoch[2] Batch [0-49955]	Speed: 7958.04 samples/sec	cross-entropy=0.050098	start_station_name-accuracy=0.996506
2023-01-31 00:15:29,015 [INFO]  Epoch[2] Train-cross-entropy=0.049043
2023-01-31 00:15:29,016 [INFO]  Epoch[2] Train-start_station_name-accuracy=0.996601
2023-01-31 00:15:29,017 [INFO]  Epoch[2] Time cost=203.589
2023-01-31 00:15:29,022 [INFO]  Saved checkpoint to "imputer_model/model-0002.params"
2023-01-31 00:15:36,250 [INFO]  Epoch[2] Validation-cross-entropy=0.037508
2023-01-31 00:15:36,251 [INFO]  Epoch[2] Validation-start_station_name-accuracy=0.999001
2023-01-31 00:17:20,536 [INFO]  Epoch[3] Batch [0-49955]	Speed: 7664.68 samples/sec	cross-entropy=0.043582	start_station_name-accuracy=0.996975
2023-01-31 00:19:05,286 [INFO]  Epoch[3] Train-cross-entropy=0.042250
2023-01-31 00:19:05,288 [INFO]  Epoch[3] Train-start_station_name-accuracy=0.997040
2023-01-31 00:19:05,289 [INFO]  Epoch[3] Time cost=209.036
2023-01-31 00:19:05,292 [INFO]  Saved checkpoint to "imputer_model/model-0003.params"
2023-01-31 00:19:12,104 [INFO]  Epoch[3] Validation-cross-entropy=0.040010
2023-01-31 00:19:12,105 [INFO]  Epoch[3] Validation-start_station_name-accuracy=0.997946
2023-01-31 00:20:58,545 [INFO]  Epoch[4] Batch [0-49955]	Speed: 7509.53 samples/sec	cross-entropy=0.041187	start_station_name-accuracy=0.997109
2023-01-31 00:22:47,018 [INFO]  Epoch[4] Train-cross-entropy=0.039126
2023-01-31 00:22:47,019 [INFO]  Epoch[4] Train-start_station_name-accuracy=0.997089
2023-01-31 00:22:47,020 [INFO]  Epoch[4] Time cost=214.914
2023-01-31 00:22:47,024 [INFO]  Saved checkpoint to "imputer_model/model-0004.params"
2023-01-31 00:22:54,171 [INFO]  Epoch[4] Validation-cross-entropy=0.033040
2023-01-31 00:22:54,172 [INFO]  Epoch[4] Validation-start_station_name-accuracy=0.999080
2023-01-31 00:24:42,679 [INFO]  Epoch[5] Batch [0-49955]	Speed: 7366.49 samples/sec	cross-entropy=0.037132	start_station_name-accuracy=0.997286
2023-01-31 00:26:31,394 [INFO]  Epoch[5] Train-cross-entropy=0.035680
2023-01-31 00:26:31,395 [INFO]  Epoch[5] Train-start_station_name-accuracy=0.997271
2023-01-31 00:26:31,396 [INFO]  Epoch[5] Time cost=217.222
2023-01-31 00:26:31,400 [INFO]  Saved checkpoint to "imputer_model/model-0005.params"
2023-01-31 00:26:38,770 [INFO]  Epoch[5] Validation-cross-entropy=0.035906
2023-01-31 00:26:38,771 [INFO]  Epoch[5] Validation-start_station_name-accuracy=0.998471
2023-01-31 00:28:28,135 [INFO]  Epoch[6] Batch [0-49955]	Speed: 7308.77 samples/sec	cross-entropy=0.037007	start_station_name-accuracy=0.996892
2023-01-31 00:30:16,848 [INFO]  Epoch[6] Train-cross-entropy=0.036296
2023-01-31 00:30:16,849 [INFO]  Epoch[6] Train-start_station_name-accuracy=0.997131
2023-01-31 00:30:16,850 [INFO]  Epoch[6] Time cost=218.078
2023-01-31 00:30:16,854 [INFO]  Saved checkpoint to "imputer_model/model-0006.params"
2023-01-31 00:30:24,402 [INFO]  Epoch[6] Validation-cross-entropy=0.032726
2023-01-31 00:30:24,403 [INFO]  Epoch[6] Validation-start_station_name-accuracy=0.998584
2023-01-31 00:32:13,948 [INFO]  Epoch[7] Batch [0-49955]	Speed: 7296.64 samples/sec	cross-entropy=0.035255	start_station_name-accuracy=0.997250
2023-01-31 00:34:04,544 [INFO]  Epoch[7] Train-cross-entropy=0.035328
2023-01-31 00:34:04,545 [INFO]  Epoch[7] Train-start_station_name-accuracy=0.997287
2023-01-31 00:34:04,546 [INFO]  Epoch[7] Time cost=220.142
2023-01-31 00:34:04,550 [INFO]  Saved checkpoint to "imputer_model/model-0007.params"
2023-01-31 00:34:12,162 [INFO]  Epoch[7] Validation-cross-entropy=0.030192
2023-01-31 00:34:12,163 [INFO]  Epoch[7] Validation-start_station_name-accuracy=0.999097
2023-01-31 00:36:02,001 [INFO]  Epoch[8] Batch [0-49955]	Speed: 7277.22 samples/sec	cross-entropy=0.034524	start_station_name-accuracy=0.997363
2023-01-31 00:37:52,077 [INFO]  Epoch[8] Train-cross-entropy=0.036430
2023-01-31 00:37:52,078 [INFO]  Epoch[8] Train-start_station_name-accuracy=0.997341
2023-01-31 00:37:52,079 [INFO]  Epoch[8] Time cost=219.915
2023-01-31 00:37:52,084 [INFO]  Saved checkpoint to "imputer_model/model-0008.params"
2023-01-31 00:37:58,956 [INFO]  Epoch[8] Validation-cross-entropy=0.059496
2023-01-31 00:37:58,958 [INFO]  Epoch[8] Validation-start_station_name-accuracy=0.989477
2023-01-31 00:39:49,562 [INFO]  Epoch[9] Batch [0-49955]	Speed: 7226.79 samples/sec	cross-entropy=0.036032	start_station_name-accuracy=0.997384
2023-01-31 00:41:40,379 [INFO]  Epoch[9] Train-cross-entropy=0.036098
2023-01-31 00:41:40,380 [INFO]  Epoch[9] Train-start_station_name-accuracy=0.997375
2023-01-31 00:41:40,381 [INFO]  Epoch[9] Time cost=221.422
2023-01-31 00:41:40,386 [INFO]  Saved checkpoint to "imputer_model/model-0009.params"
2023-01-31 00:41:48,005 [INFO]  Epoch[9] Validation-cross-entropy=0.031653
2023-01-31 00:41:48,007 [INFO]  Epoch[9] Validation-start_station_name-accuracy=0.998161
2023-01-31 00:41:48,009 [INFO]
========== done (2153.183244943619 s) fit model
/opt/conda/lib/python3.7/site-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)
/opt/conda/lib/python3.7/site-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

In [5]:
# Check for null values
print(imputed_start_station.isna().sum())

ride_id                                  0
start_station_name                  160485
start_lat                                0
start_lng                                0
end_station_name                    168928
end_lat                                  0
end_lng                                  0
start_station_name_imputed               0
start_station_name_imputed_proba         0
dtype: int64

In [6]:
# Check for new generated columns
imputed_start_station[['start_station_name_imputed', 'start_station_name_imputed_proba']].head(20)

,start_station_name_imputed,start_station_name_imputed_proba
4008280,Halsted St & Polk St,1.000000
705745,Millennium Park,1.000000
1354033,Sheridan Rd & Irving Park Rd,1.000000
2808282,Orleans St & Merchandise Mart Plaza,1.000000
683942,Wabash Ave & Roosevelt Rd,1.000000
1894742,Loomis St & Lexington St,1.000000
1950797,Wells St & Hubbard St,1.000000
4791471,DuSable Lake Shore Dr & Diversey Pkwy,1.000000
1338903,Halsted St & Polk St,0.999987
3178517,Racine Ave & Fullerton Av,0.999999
5165761,Sheffield Ave & Wrightwood Av,1.000000
3513450,Indiana Ave & Roosevelt Rd,1.000000
4052085,Ravenswood Ave & Lawrence Av,1.000000
1277214,Southport Ave & Waveland Av,0.999972
1948185,Wells St & Elm St,1.000000
2390484,Southport Ave & Waveland Av,0.999972
5483380,Loomis St & Lexington St,1.000000
3509224,Pine Grove Ave & Irving Park Rd,1.000000
1695549,Sedgwick St & North Av,1.000000
4999042,Lakeview Ave & Fullerton Pkwy,1.000000

## Impute Missing Values of End Station Name using DataWig based on latitude and longitude

In [7]:
# Split dataframe into train and test subsets
df_train, df_test = datawig.utils.random_split(bike_df)

#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['end_lat', 'end_lng'], # column(s) containing information about the column we want to impute
    output_column= 'end_station_name', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
)

#Fit an imputer model on the train data
imputer.fit(train_df=df_train, num_epochs=10)

#Impute missing values and return original dataframe with predictions
imputed_end_station = imputer.predict(df_test)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/opt/conda/lib/python3.7/site-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

In [8]:
# Check for null values
print(imputed_end_station.isna().sum())

ride_id                                0
start_station_name                160485
start_lat                              0
start_lng                              0
end_station_name                  168928
end_lat                                0
end_lng                                0
end_station_name_imputed               0
end_station_name_imputed_proba         0
dtype: int64

In [9]:
# Check for new generated columns
imputed_end_station[['end_station_name_imputed', 'end_station_name_imputed_proba']].head(20)

                    end_station_name_imputed  end_station_name_imputed_proba
4008280                  Ellis Ave & 55th St                        0.594640
705745            Indiana Ave & Roosevelt Rd                        0.561914
1354033             Clark St & Wellington Av                        0.997078
2808282           Larrabee St & Kingsbury St                        0.999998
683942                  Halsted St & Polk St                        1.000000
1894742                  Ellis Ave & 55th St                        0.996378
1950797  Orleans St & Merchandise Mart Plaza                        0.988646
4791471   DuSable Lake Shore Dr & Belmont Av                        0.999998
1338903              Clinton St & Madison St                        0.528859
3178517         Sheffield Ave & Fullerton Av                        0.999988
5165761          Lincoln Ave & Diversey Pkwy                        1.000000
3513450                 Federal St & Polk St                        0.781427
4052085         Ravenswood Ave & Lawrence Av                        1.000000
1277214           Franklin St & Jackson Blvd                        0.922776
1948185                 New St & Illinois St                        0.999970
2390484          Southport Ave & Waveland Av                        0.999989
5483380               Green St & Randolph St                        0.999998
3509224         Sheridan Rd & Irving Park Rd                        1.000000
1695549            Racine Ave & Fullerton Av                        1.000000
4999042        Sheffield Ave & Wrightwood Av                        0.999675

## Joining imputed station name into one dataframe

In [10]:
# Create new dataframe that contains imputed station name
clean_station_name = imputed_start_station[['ride_id', 'start_station_name_imputed', 'start_lat', 'start_lng']]

In [12]:
imputed_end_station = imputed_end_station[['ride_id', 'end_station_name_imputed', 'end_lat', 'end_lng']]

In [13]:
# Join two dataframe that have new imputed station name into one
clean_station_name = clean_station_name.merge(imputed_end_station, on='ride_id')

## Checking null values

In [15]:
# Check for null values for new dataframe
print(clean_station_name.isnull().sum())

ride_id                       0
start_station_name_imputed    0
start_lat                     0
start_lng                     0
end_station_name_imputed      0
end_lat                       0
end_lng                       0
dtype: int64

## Checking duplicate based on ride_id

In [16]:
# Checking for duplicate values
duplicates = clean_station_name.duplicated(subset=['ride_id'])
clean_station_name[duplicates]

Empty DataFrame
Columns: [ride_id, start_station_name_imputed, start_lat, start_lng, end_station_name_imputed, end_lat, end_lng]
Index: []

## Rename column name

In [17]:
# Rename the column names
clean_station_name = clean_station_name.rename(columns={'start_station_name_imputed':'start_station_name',
                                                        'end_station_name_imputed':'end_station_name'})

In [18]:
# Final check before upload to bigquery
clean_station_name.sample(20)

,ride_id,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng
552866,91AC2F46B44A1663,Pine Grove Ave & Irving Park Rd,41.950000,-87.770000,Kedzie Ave & Milwaukee Av,41.950000,-87.710000
1094241,B312F7918EC5DBF2,Sheridan Rd & Irving Park Rd,41.958494,-87.654966,Sheridan Rd & Irving Park Rd,41.958494,-87.654966
381821,E95134932647D4B0,Wells St & Hubbard St,41.891044,-87.635443,Wabash Ave & Roosevelt Rd,41.870769,-87.625734
306452,DE4D057D3D2BC3FB,Streeter Dr & Grand Av,41.890000,-87.610000,Clark St & Wrightwood Av,41.920000,-87.640000
78579,4EE4ACAE43CAA377,Orleans St & Merchandise Mart Plaza,41.888303,-87.636475,Loomis St & Lexington St,41.872950,-87.669130
957888,C11AF4DE4C25AB25,State St & Randolph St,41.884621,-87.627834,LaSalle St & Illinois St,41.894877,-87.632326
70269,D96CA14BD2B9B34F,Fairbanks Ct & Grand Av,41.890000,-87.620000,Bissell St & Armitage Av,41.913688,-87.652855
426497,DD75F451B9F62AFB,Indiana Ave & Roosevelt Rd,41.834900,-87.617930,Clinton St & Madison St,41.841707,-87.626938
219737,9CE7D2CEB6DD3E63,Sheridan Rd & Irving Park Rd,41.980000,-87.670000,Sheridan Rd & Irving Park Rd,41.970000,-87.660000
15162,AA72E073D05346A1,Southport Ave & Roscoe St,41.954688,-87.673838,Sheffield Ave & Waveland Av,41.949399,-87.654529
621943,090809CEFA2D1BDA,Southport Ave & Roscoe St,41.943739,-87.664020,Southport Ave & Waveland Av,41.948150,-87.663940
305157,676259905F60B23E,Franklin St & Jackson Blvd,41.885803,-87.635308,Kingsbury St & Kinzie St,41.889177,-87.638506
626890,8037752A6EC7A319,Ashland Ave & Division St,41.918216,-87.656936,Sheffield Ave & Wrightwood Av,41.928712,-87.653833
239977,BBB4386CA0CE8DFB,Michigan Ave & Oak St,41.900960,-87.623777,Lakeview Ave & Fullerton Pkwy,41.925858,-87.638973
838112,6FAE29E60D016E39,Ellis Ave & 60th St,41.785097,-87.601073,Kimbark Ave & 53rd St,41.795264,-87.596471
533502,7CCC6B57987740E0,Clark St & Armitage Av,41.922244,-87.638901,Southport Ave & Roscoe St,41.940000,-87.670000
1035791,601CB8E67116FE16,Southport Ave & Waveland Av,41.954181,-87.664303,Sheridan Rd & Irving Park Rd,41.973815,-87.659660
670091,B5E887203E88C33E,Ashland Ave & Division St,41.920000,-87.660000,Loomis St & Lexington St,41.909769,-87.705280
626403,3889D8DFE3F5F658,Lincoln Ave & Diversey Pkwy,41.932157,-87.658742,Larrabee St & Kingsbury St,41.897764,-87.642884
1015785,C65BDBBA7769003D,Michigan Ave & Oak St,41.900957,-87.623686,Clark St & Schiller St,41.910000,-87.630000

## Upload new imputed dataframe back to Bigquery

In [20]:
# Load client
client = bigquery.Client(project='acoustic-portal-322707')

# Define table name, in format dataset.table_name
table = 'bike_dataset.clean_station_name'

# Load data to BQ
job = client.load_table_from_dataframe(clean_station_name, table)